mixin gallery
    .gallery#gallery
        .container.container--lg
            .gallery__wrapper
                .gallery__heading
                    .row
                        .col-12
                            hr.gallery__line
                            h2.gallery__title Gallery
                .gallery__panel
                    .row.no-gutters
                        .col-xl-6.offset-xl-0.col-lg-8.offset-lg-2.mb-lg-2.col-md-10.offset-md-1.mb-md-2.mb-sm-2.col-sm-10.offset-sm-1.col-12.mb-2
                            .gallery__item
                                a.gallery__link(href='./img/gallery_1-large.png', data-fancybox="gallery" data-caption="Photo by Burst from Pexels")
                                    img.gallery__img(src="./img/gallery_1.png", alt="img")
                                    img.gallery__img--hover(src="./img/gallery_360.png", alt="img")
                        .col-xl-6.offset-xl-0.col-lg-8.offset-lg-2.col-md-10.offset-md-1.mb-sm-2.col-sm-10.offset-sm-1.col-12.mb-2.mb-md-0
                            .row.no-gutters.mb-lg-2.ml-xl-1.ml-lg-0.mb-md-2
                                .col-xl-6.col-lg-6.col-md-6.pr-xl-0.pr-lg-1.pr-md-1.pr-sm-1.col-sm-6.col-12.mb-2.mb-md-0
                                    .gallery__item.gallery__item--small
                                        a.gallery__link(href='./img/gallery_2-large.png', data-fancybox="gallery" data-caption='Photo by Juhasz Imre from Pexels')
                                            img.gallery__img(src="./img/gallery_2.png", alt="img")
                                            img.gallery__img--hover(src="./img/gallery_360.png", alt="img")
                                .col-xl-6.col-lg-6.col-md-6.pr-xl-0.pl-lg-1.pl-md-1.pl-sm-1.col-sm-6.col-12.mb-2.mb-md-0
                                    .gallery__item.gallery__item--small
                                        a.gallery__link(href='./img/gallery_3-large.png', data-fancybox="gallery" data-caption='Photo by Pixabay from Pexels')
                                            img.gallery__img(src="./img/gallery_3.png", alt="img")
                                            img.gallery__img--hover(src="./img/gallery_360.png", alt="img")
                                        
                            .row.no-gutters.ml-xl-1.ml-lg-0
                                .col-xl-6.col-lg-6.col-md-6.pr-xl-0.pr-lg-1.pr-md-1.pr-sm-1.col-sm-6.col-12.mb-2.mb-md-0
                                    .gallery__item.gallery__item--small
                                        a.gallery__link(href='./img/gallery_4-large.png', data-fancybox="gallery" data-caption='Photo by Irina Iriser from Pexels')
                                            img.gallery__img(src="./img/gallery_4.png", alt="img")
                                            img.gallery__img--hover(src="./img/gallery_360.png", alt="img")
                                .col-xl-6.col-lg-6.col-md-6.pr-xl-0.pl-lg-1.pl-md-1.pl-sm-1.col-sm-6.col-12.mb-2.mb-md-0
                                    .gallery__item.gallery__item--small
                                        a.gallery__link(href='./img/gallery_5-large.png', data-fancybox="gallery" data-caption='Photo by picjumbo.com from Pexels')
                                            img.gallery__img(src="./img/gallery_5.png", alt="img")
                                            img.gallery__img--hover(src="./img/gallery_360.png", alt="img")
                .gallery__bottom(data-aos="zoom-in-right")
                    +btn(`SEE MORE`,`#`)