mixin nav
    nav.nav
        .container.container--lg
            .nav__wrapper
                .row
                    .col-lg-3.col-md-4.col-sm-5.col-6.order-xl-1.order-1
                        a.nav__link(href=`#`)
                                svg.icons.icons--footer.nav__icon
                                    use.footer__icon-use(xlink:href="#icon-monticello-logo")
                    .col-lg-7.no-gutters.order-xl-2.order-3.col-md-8.col-sm-2.col-2
                        .nav__list-wrapper
                            ul.nav__list.d-flex.justify-content-around.align-items-center
                                li.nav__item 
                                    a.nav__link(href=`#`) About us
                                li.nav__item 
                                    a.nav__link(href=`#`) Projects
                                li.nav__item
                                    a.nav__link(href=`#`) News
                                li.nav__item 
                                    a.nav__link(href=`#`) Contact
                    .col-lg-2.col-md-3.col-sm-5.col-4.d-flex.align-items-center.order-xl-3.order-2
                        .nav__socials.d-flex.justify-content-between.align-items-center
                            a.nav__circle(href="https://www.facebook.com/", target='_blank')
                                i.fab.fa-facebook-f.nav__social-icon
                            a.nav__circle(href="https://twitter.com/", target='_blank')
                                i.fab.fa-twitter.nav__social-icon
                            a.nav__circle(href="https://www.instagram.com/", target='_blank')
                                i.fab.fa-instagram.nav__social-icon
                    .col-6.d-sm-none.d-block.order-4.d-flex.justify-content-center
                        .nav__socials--small.d-flex.justify-content-between.align-items-between
                            a.nav__circle(href="https://www.facebook.com/", target='_blank')
                                i.fab.fa-facebook-f.nav__social-icon
                            a.nav__circle(href="https://twitter.com/", target='_blank')
                                i.fab.fa-twitter.nav__social-icon
                            a.nav__circle(href="https://www.instagram.com/", target='_blank')
                                i.fab.fa-instagram.nav__social-icon
                
                    
            