.nav {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;


    &__wrapper {
        padding-top: 52px;
    }

    &__item {

        position: relative;

        &::before {
            top: 1px;
            position: absolute;
            left: -24px;
            content: '';
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #fff;
        }
    }

    &__item:nth-child(1) {
        &::before {
            top: 1px;
            position: absolute;
            left: -24px;
            content: '';
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__item:nth-child(3) {
        margin-right: 34px;
        
        @media screen and (max-width: 1598px) {
            margin-right: 0;
        } 
    }



    &__link {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        
    }


    &__list-wrapper {
        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    &__list {
        height: 100%;
        color: white;
        font-family: 'GothamBook';
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        padding-left: 9px;


        @media screen and (max-width: 1598px) {
            padding-left: 0px;
        }
    
    }

    &__socials {
        max-width: 162px;
        width: 100%;
        margin-left: 9px;

        &--small {
            max-width: 162px;
            width: 100%;
        }

        @media screen and (max-width: 1598px) {
            margin-left: 0px;
        } 

        @media screen and (max-width: 575px) {
            display: none !important;
        } 
    }


    &__circle {
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__circle:first-child:hover &__social-icon:first-child {
        color: #4267B2;
    }
    
    &__circle:nth-child(2):hover &__social-icon:first-child {
        color: #1da1f2;
    }

    &__circle:nth-child(3):hover &__social-icon:first-child {
        color: #8a3ab9;
    }

    &__social-icon {
        font-size: 16px;
        color: #fff;
    }

}