include ../pug/icons.svg
include ../blocks/nav/_nav.pug
include ../blocks/about/_about.pug
include ../blocks/header/_header.pug
include ../blocks/projects/_projects.pug
include ../blocks/news/_news.pug
include ../blocks/gallery/_gallery.pug
include ../blocks/map/_map.pug
include ../blocks/contact/_contact.pug
include ../blocks/footer/_footer.pug
include ../blocks/btn/_btn.pug
include ../blocks/contact-icons/_contact-icons.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Monticello
        link(rel="stylesheet", href="./css/style.css")
    body
        script(src=`../../dist/script/script.js`)
        script(src='https://kit.fontawesome.com/f811e9d5c2.js' crossorigin='anonymous')